<section class="welcome">
<div class="container">

<div class="Grid-heading">
<h1>{{ section.settings.grid_title }}</h1>
</div>

  <div class="Custom-grid-section">
<div class="Grid-layout">
<div class="Grid-image">
  {% for block in section.blocks %}
    {% if block.settings.image %}
      <img src="{{ block.settings.image | image_url }}" alt="Grid Image">
    {% else %}
      <p>No image selected</p>
    {% endif %}
  {% endfor %}
</div>

</div>
  </div>
    
  
</div>
</section>
<!-- Welcome section ends -->
{% schema %}
{
  "name": "Section name",
  "settings": [
  
    {
      "type": "text",
      "id": "grid_title",
      "label": "Add Title",
      "default": "Custom Grid Title"
    },

  ],
  "blocks": [
    {
      "type": "Grid",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 50,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.slideshow.blocks.slide.settings.heading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        },
        {
          "type": "product",
          "id": "selected_product",
          "label": "Product Select"
        },
            {
      "type": "checkbox",
      "id": "enable_popup",
      "label": "Enable Pop-Up",
      "default": false
    },
        {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Grid",

      "blocks": [
        {
          "type": "Grid"
        }
      ]
    }
  ]
}
{% endschema %}

